*body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wholecontent{
    /* max-width: 900px; */
    position: relative;
    top: 0px;
    width: 90%;
    height: 260vh;
    margin: 0 auto;
    padding: 20px;
    /* border: 2px solid black; */
    background-image: linear-gradient( 359.8deg,  rgba(252,255,222,1) 2.2%, rgba(182,241,171,1) 99.3% );
}

.container1{
    display: flex;
    justify-content: space-evenly;
    
}
.left{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* border: 2px solid black; */
    background-image: url(pic/chicken\ pasta.jpg);
    background-size: cover;
    background-size: 300px;
    background-position: center;
    box-shadow: 4px 2px 100px 30px rgb(5, 63, 3);
}
.right{
    width: 500px;
    height: 250px;
    /* border: 2px solid black; */
    /* box-shadow: 1px 1px 40px black; */
}
.right h2{
    text-align: center;
    font-family: cursive ;
    margin-top: 2px;
}
.right p{
    text-align: center;
    margin: 14px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}
.right .time{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container2{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.left2{
    /* border: 2px solid black; */
    height: 1050px;
    width: 800px;
    padding-left: 20px;
    margin-left: 2px;
}
.left2 h1{
    text-align: center;
    position: relative;
    right: 200px;
}
.left2 p{
    margin-bottom: 2px;
    font-family: cursive;
    font-size: 18px;
}
.right2{
    /* border: 2px solid black; */
    height: 1050px;
    width: 500px;
    padding-left: 5px;
}
.right2 h1{
    text-align: center;
    position: relative;
    right: 60px;
    
}
.right2 li{
    font-size: 20px;
    margin-bottom: 15px;
    font-family: cursive;
}